a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 1100px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: block; /* Activa Flexbox */
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.navegacion {
  display: flex; /* Mantenemos tu bloque */
  text-align: right; /* Este es el "imán" que empuja el contenido a la derecha */
  padding-top: 30px;
  padding-right: 26px;
  gap: 20px;
  justify-content: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav-links:hover {
  color: #ff976b;
}

.logo {
  width: 105px;
  height: 39px;
  background-image: url("../images/logo_coffeeshop_dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -80px;
  margin-left: 30px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 26px; /* 30px superior, 26px lateral según tu imagen */
  align-items: center;
}

/* 2. Contenedor Principal (Grid de 2 columnas) */
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  /* Margen lateral de 80px indicado en rojo */
  gap: 00px;
  align-items: start;

  justify-content: space-between;
}

/* 3. Columna Izquierda (Textos) */
.content-left {
  max-width: 709px; /* Indicado sobre el título */
  margin-left: 80px;
}

.titulo {
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}
.subtitulo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 0px;
  letter-spacing: -1px;
}

.descripcion {
  max-width: 683px; /* Indicado sobre el párrafo */
  margin-top: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.horarios {
  margin-bottom: 20px;
  margin-top: 220px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2px;
  color: #6f6f6f;
}

/* 4. Columna Derecha (Imagen y Dirección) */
.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea la dirección a la derecha */
}

.main-image {
  width: 646px;
  height: 568px;
  margin: 0px;
}

.direccion {
  margin-top: 60px; /* Espacio de 40px debajo de la imagen */
  background-color: #f0f0f0; /* Si lleva ese fondo gris de la imagen */
  padding-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin-right: 25px;
}

.content {
  background-color: #ffd6c5;
  padding: 20px 20px;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation {
  text-align: center;
}

fieldset {
  margin-bottom: 32px;
}

.reservation-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation-form {
  max-width: 385px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.reservation-form input {
  width: 100%;
  height: 60px; /* Según tus flechas de 60px */
  border: 1px solid #ccc;
  border-radius: 8px; /* El border-radius que querías */
  padding: 0 15px; /* Espacio interno para que el texto no pegue al borde */
  box-sizing: border-box; /* Para que el padding no sume al ancho */
  text-align: left;
}

::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.btn-primary {
  background-color: #e76f3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin-top: 32px;
  border: 1px solid #ccc;
  height: 60px; /* Según tus flechas de 60px */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.btn-primary:hover {
  background-color: #972f06;
}

.terms {
  display: flex; /* Alinea los elementos en línea */
  align-items: center; /* Centra verticalmente el texto con el checkbox */

  cursor: pointer; /* Cambia el mouse a "manito" al pasar sobre el texto */
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 40px;
}
.terms input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.footer {
  background-color: #d35722;
  color: #ffffff;
  padding: 40px 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 5px;
  font-size: 18px;
  background-color: #6f6f6f;
  width: 110px;
}
.social__icons {
  display: block;
}

.redes-sociales {
  color: #ffd6c5;
  font-size: 18px;
  text-decoration: underline;
}

.redes-sociales:hover {
  color: #ffd6c5;
  font-size: 18px;
  text-decoration: underline;
}

.social__icon-img {
  width: 16px;
  height: 16px;
}

.copyright {
  margin-top: 20px;
  font-size: 18px;
}

/*<div class="contenedor-flex">">
              <div class="elemento">1</div>
              <div class="elemento">2</div>
              <div class="elemento">3</div>
        </div>

        <div class="contenedor-flex">
              <div class="elemento">1</div>
              <div class="elemento">2</div>
              <div class="elemento">3</div>
        </div>*/
